---
layout: archive
permalink: /portfolio/
author_profile: true
---

Welcome to our <b> Applications of Artificial Intelligence (AoAI) </b> Lab

<p>&ensp;</p>

<h1> Current Members </h1>
Sheng-Han Yueh           (Master        2023/05 -        )
 <br>
Radek Holik              (Master        2023/05 -        )
 <br>
Sayed Raheel Hussain     (Master        2023/05 -        )
 <br>
Yujie Wu                 (Master        2023/05 -        )
 <br>
Pinxue Lin               (Master        2023/05 -        )
 <br>
Junhui Li                (Master        2021/09 -        )
 <br>
Pu Wang                  (Undergraduate 2021/09 -        )

<p>&ensp;</p>

<h1> Alumni </h1>

<ol type="1">
  <li> Haomiao Liu           (Master        2021/09 - 2022/05, Cornell University) </li>
  <li> Pawat Rithipreedanant (Undergraduate 2019/06 - 2019/08, Lehigh University) </li>
  <li> Thomas Szewczyk       (Undergraduate 2019/06 - 2019/08, Lehigh University) </li>
</ol>




<!---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

--->
