---
layout: archive
permalink: /portfolio/
author_profile: true
---

Welcome to our <b> Applications in Artificial Intelligence (AiAI) </b> Lab

<p>&ensp;</p>

<h1> Current Members </h1>
<ol type="1">
  <li> Lakshmikar Reddy Polamreddy           (Ph.D.        2024/01 -        ) </li>
  <li> Sahil Kumar                           (Ph.D.        2024/08 -        ) </li>
  <li> Junhui Li                             (Ph.D.        2024/08 -        ) </li>
  <li> Yuxiao Yao                            (Master       2024/05 -        ) </li>
  <li> Nikhil Deekonda                       (Master       2024/08 -        ) </li>
</ol>

<p>&ensp;</p>

<h1> Alumni </h1>

<ol type="1">

  <li> Manish Kumar Thota       (Master        2023/08 - 2024/05, Yeshiva University), 2024/07 - S&P Global, New York </li>  
  <li> Sheng-Han Yueh           (Master        2023/05 - 2024/05, Yeshiva University) </li>
  <li> Radek Holik              (Master        2023/05 - 2024/05, Yeshiva University) </li>
  <li> Sayed Raheel Hussain     (Master        2023/05 - 2024/05, Yeshiva University) 2024/06 - Palazzo, Inc</li>
  <li> Yujie Wu                 (Master        2023/05 - 2024/05, Yeshiva University) </li>
  <li> Pinxue Lin               (Master        2023/05 - 2024/05, Yeshiva University) </li>
  <li> Pu Wang                  (Undergraduate 2021/09 - 2024/05) </li>
  <li> Haomiao Liu           (Master        2021/09 - 2022/05, Cornell University) </li>
  <li> Pawat Rithipreedanant (Undergraduate 2019/06 - 2019/08, Lehigh University) </li>
  <li> Thomas Szewczyk       (Undergraduate 2019/06 - 2019/08, Lehigh University) </li>
</ol>




<!---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

--->
