---
layout: archive
permalink: /portfolio/
author_profile: true
---

Welcome to our <b> Machine learning in Real-World Applications (MLiRWA) </b> Lab

<p>&ensp;</p>

Current Members 
======
Junhui Li                (Master        2021/09 -        )

<p>&ensp;</p>

Alumni 
======
1. Haomiao Liu           (Master        2021/09 - 2022/05)
2. Pawat Rithipreedanant (Undergraduate 2019/06 - 2019/08)
3. Thomas Szewczyk       (Undergraduate 2019/06 - 2019/08)



<!---
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

--->
